"*":
  "ansible-vault":
    vault_password_file_flag: true
  "autocomplete-python":
    extraPaths: "/Users/jmontgomery/.virtualenvs/cujo/lib/python3.6/site-packages"
    useKite: false
  core:
    customFileTypes:
      "source.js": [
        "ash"
      ]
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "linter-ui-default"
      "linter-pylint"
      "linter"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
  date: {}
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "1ae7e85e-93ca-fcb9-5626-addbadcdebea"
  "go-plus":
    format:
      tool: "gofmt"
  "linter-pylint":
    executablePath: "/Users/jmontgomery/.virtualenvs/cujo/bin/pylint"
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  wordcount:
    noextension: true
".django.python.source":
  editor:
    autoIndentOnPaste: true
".python.source":
  editor:
    tabLength: 4
